html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.body {
  color: #000;
  font-family: 'Comfortaa', cursive;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.14;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  border: none;
  padding: 0;
  border-radius: 0;
  cursor: pointer;
}

h2 {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

p {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container {
  max-width: 1180px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.menu__btn {
  display: none;
  width: 30px;
  height: 25px;
  background-color: transparent;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
}

.menu__btn span {
  height: 1px;
  background-color: #7B6152;
  width: 100%;
}

header {
  background-color: #FFF8F3;
}

.header__inner {
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
  gap: 20px;
}

.menu__list-link {
  text-transform: uppercase;
}

.phone {
  position: relative;
}

.phone::before {
  content: '';
  position: absolute;
  background-image: url(../images/phone.svg);
  width: 20px;
  height: 20px;
  left: -23px;
  top: -3px;
}

.main {
  background-color: #FFF8F3;
  overflow-x: clip;
}

.top {
  padding: 40px 0 150px;
}

.top__inner {
  position: relative;

}

.top__contant {
  width: 390px;
  padding: 164px 0 270px;
}

.top__title {
  color: #000;
  font-family: 'Yeseva One', cursive;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
}

.top__text {
  margin-bottom: 48px;
}

.top__buy {
  padding: 18px 54px;
  background: #FFBD59;
  font-family: 'Comfortaa', cursive;
  font-size: 14px;
  font-weight: 600;
}

.top__img {
  position: absolute;
  top: 0;
  left: 240px;
}

.about {
  background-color: #A5978E;
  padding: 50px 0;
  color: #FAFAFA;
}

.about__inner {
  display: flex;
  align-items: center;
}

.about__content {
  min-width: 370px;
}

.about__title {
  margin-bottom: 15px;
  font-size: 40px;
}

.about__text {
  margin-bottom: 15px;
  /* font-size: 14px; */
}

.about__list {
  display: flex;
  align-items: center;
  gap: 0 20px;
  padding-left: 110px;
  padding-bottom: 51px;
  position: relative;
}

.about__list::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(../images/about-decor.png);
  width: 24px;
  height: 33px;
}

.about__list::after {
  content: '';
  position: absolute;
  left: 22px;
  bottom: 11px;
  background-color: #7B6152;
  width: 200%;
  height: 1px;
}

.about__item-img {
  margin-bottom: 10px;
}

.about__item-text {
  font-size: 11px;
}















.footer {
  padding-top: 40px;
  padding-bottom: 34px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  width: 230px;
}

.footer__social {
  display: flex;
  gap: 15px;
}

/* .footer__social-item {
  margin-right: 15px;
} */

.email {
  margin: 17px 0;
}















@media (max-width: 1000px) {
  .header {
    padding-right: 20px;
    padding-left: 20px;
  }

  .top__contant {
    width: 333px;
    padding: 93px 0 88px;
  }

  .top__img {
    left: 318px;
  }

  .top__img-l {
    width: 655px;
  }

  .top__text {
    margin-bottom: 30px;
  }

  .about__content {
    min-width: 300px;
  }

  .about__list {
    padding-left: 20px;
  }
}

@media (max-width: 900px) {
  .footer__inner {
    flex-wrap: wrap;
  }

  .footer__contacts {
    width: 100%;
    text-align: center;
    padding-top: 15px;
  }

  .footer__social {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .body {
    font-size: 10px;
  }

  .container {
    max-width: 640px;
  }

  .phone::before {
    width: 14px;
    height: 14px;
    left: -16px;
    top: -3px;
    background-size: cover;
  }

  .top__contant {
    width: 236px;
    padding: 100px 0 124px;
  }

  .top__title {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .top__text {
    margin-bottom: 20px;
  }

  .top__img {
    left: 180px;
  }

  .about__content {
    min-width: 200px;
  }

  .title {
    font-size: 15px;
  }

  .about__title {
    margin-bottom: 20px;
  }

  .about__text {
    /* font-size: 10px; */
  }

  .about__list {
    margin-left: 27px;
    padding-bottom: 41px;
    gap: 0 10px;
  }

  .about__item-text {
    font-size: 6px;
  }

  .about__item-img {
    margin-bottom: 6px;
  }

  .about__item-img--1,
  .about__item-img--3 {
    width: 120px;
  }

  .about__item-img--2 {
    width: 191px;
  }

}

@media (max-width: 640px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .header__menu {
    order: 1;
  }

  .header__menu-list {
    width: 153px;
    background-color: #7B6152;
    color: #FFF8F3;
    flex-direction: column;
    gap: 20px 0;
    padding: 25px 35px 25px 45px;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-110%);
    transition: transform .5s ease;
    z-index: 3;
  }

  .header__menu-list.menu--open {
    transform: translateY(0);
  }

  .menu__btn {
    display: flex;
  }
}

@media (max-width: 500px) {
  .footer {
    padding: 50px 0;
    font-size: 14px;
  }

  .footer__inner {
    flex-direction: column;
  }

  .footer__menu {
    padding: 50px 0;
    text-align: center;
  }

  .footer__menu-list {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .top {
    padding: 30px 0 50px;
  }

  .top__img-l {
    width: 309px;
  }

  .top__contant {
    width: 180px;
    padding: 80px 0 80px;
  }

  .top__title {
    font-size: 15px;
    margin-bottom: 15px;
  }

  .top__text {
    font-size: 8px;
    margin-bottom: 15px;
  }

  .top__buy {
    font-size: 10px;
    padding: 14px 41px;
  }

  .top__img {
    left: 167px;
  }

  .about__content {
    min-width: 172px;
  }

  .about__list {
    margin-left: 5px;
    padding-left: 12px;
    align-items: end;
    padding-bottom: 62px;
    gap: 0 5px;
  }

  .about__item-text {
    display: none;
  }

  .about__item-img--1,
  .about__item-img--3 {
    width: 80px;
  }

  .about__item-img--2 {
    width: 140px;
  }

}

@media (max-width: 360px) {
  .body {
    font-size: 8px !important;
  }

  .top__img-l {
    width: 163px;
  }

  .top__contant {
    width: 233px;
    padding: 30px 0 0px;

  }

  .top__title {
    font-size: 18px;
  }

  .top__text {
    font-size: 10px;
  }

  .top__img {
    left: auto;
    right: 0;

  }

  .about__content {
    min-width: 234px;
  }

  .title {
    margin-bottom: 10px;
  }

  .about{
    padding: 25px 0 9px;
  }

  .about__item-img--2,
  .about__item-img--3 {
    display: none;
  }

  .about__list{
    margin-left: 13px;
    padding-bottom: 44px;
    gap: 12px;
  }

  .about__text{
    margin-bottom: 10px;
  }
}